<!-- views/layouts/main.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <img src="blackRentScoutLogo.png"> alt =""
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Listings</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{{body}}}
</body>
</html>
<script src="scripts.js"></script> 