<!-- views/index.handlebars -->
<img src="blackRentScoutLogo.png"> alt =""
<h1>Welcome to Rental Listings</h1>

<ol> 
    <li>Message1</li>
    <li>Message1</li>
    <li>Message1</li>
</ol>
<img src="images/cityscapeBg.png" alt="">
<img src="duplexicon.png" alt ="">
